*{
    margin: 0;
    padding: 0;
}
.grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1.3fr 1.4fr 1fr;
    grid-template-areas:
    "heder heder heder"
    "aside-L section-T aside-R"
    "aside-L section-B aside-R"
    "footer footer footer";
}
header{grid-area: header;
    background: #D9D9D9;

}
.aside-L{grid-area: aside-L;
    background: #C0BDBD;

}
.aside-R{grid-area: aside-R;
    background: #C0BDBD;

}
.section-T{grid-area: section-T;
    background: #A4A4A4;

}
.section-B{grid-area: section-B;
    background: #A4A4A4;

}
footer{grid-area: footer;
    background: #D9D9D9;

}