*{
    margin: 0;
    padding: 0;
}
.grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr 1fr 1fr;
    grid-template-areas:
    "header header"
    "content-1 spam-1"
    "content-2 spam-1"
    "content-2 spam-2"
    "content-3 spam-2"
    "footer footer"

;

}
header{grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8D8484;

}
header  p{
    color: #000;
    font-family: Inter,sans-serif;
    font-size: 45px;
    font-weight: 400;


}
.content-1{grid-area: content-1;
    background: #776969;
    display: flex;
    justify-content: center;
    align-items: center;

}
p{
    color: #FFF;
    font-family: Inter,sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.content-2{
    grid-area: content-2;
    background: #643030;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-3{
    grid-area: content-3;
    background: #441818;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spam-1{
    grid-area: spam-1;
    background: #937575;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spam-2{
    grid-area: spam-2;
    background: #644C4C;
    display: flex;
    justify-content: center;
    align-items: center;}

footer{
    grid-area: footer;
    background: #BDBDBD;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer  p{
    color: #000;
    font-family: Inter,sans-serif;
    font-size: 45px;
    font-weight: 400;


}